<form name='forma' method="GET" action="/quizes/answer">
Pregunta: <%= pregunta %>
<input type="text" name="respuesta" id='preg' value="Responda Aqui" />
<input type="submit" value="Enviar"/>
</form>
